@page "/"

<div class="gridec">
    <div class="mainc">
    </div>
    <div class="relog">
        <input class="inputecek" title="Input ID" type="text" placeholder="Input ID">
        <input class="inputecek" title="Input Password" type="password" placeholder="Input Password">
        <button class="tlact" title="relogec">Re-log</button>
    </div>
    <div class="table">
    </div>
</div>

